body {
  background-image: linear-gradient(90deg, rgba(0,34,5,.2), rgba(1,1,1,.8)),

          url("https://external-preview.redd.it/85M3kZ-CePtWrmf1trc8xWtSW_5br1W3OFn96UX_3Pw.jpg?auto=webp&s=6a06431618e8db33ca54b74b8e7a942e7ca48e26");
  color: whitesmoke;

  font-family: "Chalkboard SE";
  width: 100%;
}

#weather-header{

  font-size: 25px;
}

#weather-app{
  /*background-image:url("https://ak6.picdn.net/shutterstock/videos/6415496/thumb/1.jpg");*/

  background-repeat: no-repeat;
  background-position: center;
  margin: 0;

  text-align: center;

}

#weather-header{

  padding-top: 20px;
  padding-bottom: 20px;

}


#weather-body{
  margin:0 auto;
  width: 60%;
  display: block;
  text-align: center;

  border-radius: 1em;
  box-shadow: 0px 4px 4px rgba(128, 128, 128, 0.56);

}

#form{
  padding: 20px;

}
input[type="text"]{
  width: 300px;
  height: 25px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 200;
  outline: none;
  box-shadow: 0px 4px 4px rgba(39, 39, 39, 0.83);
  text-align: center;
}

button{

  border: none;
  color: whitesmoke;
  padding: 20px;
  background-color: crimson;
  font-size: 15px;
  border-radius: 15px;
}

button:hover{
  background-color: green;
}

#weather-img{
  width: 6em;
}

em{
  color:crimson ;
}

span{

  font-size: 30px;
  color: cadetblue;

}


#humidity{

  font-size: 20px;
}

#demo{

  color: whitesmoke;

  font-size: 50px;
}

#temp{
  text-shadow: 0 1px 1px black ;
}