body {
    background-color: #111;
    color: whitesmoke;

    font-family: "Chalkboard SE";
}


#weather-header{

    font-size: 25px;
}

#weather-app{
    /*background-image:url("https://ak6.picdn.net/shutterstock/videos/6415496/thumb/1.jpg");*/

    background-repeat: no-repeat;
    background-position: center;
    margin: 0;

    text-align: center;

}

#weather-header{

    padding-top: 20px;
    padding-bottom: 20px;

}


#weather-body{

    margin:0;

    display: block;


    text-align: center;

}

#form{
    padding: 20px;

}
input[type="text"]{
    width: 300px;
    height: 25px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 200;

}

button{

   border: none;
    color: whitesmoke;
    padding: 20px;
    background-color: crimson;
    font-size: 15px;
    border-radius: 15px;
}

button:hover{
    background-color: green;
}

#weather-img{
    width: 6em;
}

em{
    color:crimson ;
}

span{

  font-size: 30px;
    color: cadetblue;

}

#humidity{

    font-size: 20px;
}